.banner-image {
  height: 100vh;
  margin-top: -90px;
  background-image: url('home-banner.png');
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.banner-content {
  padding-top: 120px;

}

.products-selection-section {
  padding-top: 15vh;
  margin-right: 15vh;
  margin-left: 15vh;
}


.second-section {
  background-color: #FDE7A9;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
