.card-product {
  width: 300px;
  height: 300px;
  margin-top: 14vh;
  background-position: center;
  background-size: cover;

}

.card-details {
  padding-top: 12px;
  text-align: center;
  justify-content: center;

}

.card-content {
  height: 300px;
}

.card-add-to-cart {
  position: absolute;
  bottom: 20px;
  right: 50%
}
